force-app/main/default/flows/WSM_SCR_Document_Generation_Flow_Multi_Select.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>2255</locationX>
        <locationY>1019</locationY>
        <actionName>RenderPDFFromAnyVFforAnyObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Start_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fileTitle</name>
            <value>
                <elementReference>PDF_Title_Text_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>New_Doc_Gen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjectName</name>
            <value>
                <elementReference>Get_IncRecordId_sObject_API_Name.result</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visualforcePageApiName</name>
            <value>
                <stringValue>WSM_Generated_Document_V1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RenderPDFFromAnyVFforAnyObject</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Get_IncRecordId_sObject_API_Name</name>
        <label>Get IncRecordId sObject API Name</label>
        <locationX>1735</locationX>
        <locationY>341</locationY>
        <actionName>ObjectInfoUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Start</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectIdentifier</name>
            <value>
                <elementReference>First3CharOfRecordId_formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>name</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ObjectInfoUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>First3CharOfRecordId_formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!Inc_RecordId}, 3)</expression>
    </formulas>
    <formulas>
        <name>PDF_Title_Text_Formula</name>
        <dataType>String</dataType>
        <expression>{!select_template_data.firstSelectedRow.Name} &amp; &quot; - &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>WSM - SCR - Document Generation Flow - Multi Select {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WSM - SCR - Document Generation Flow - Multi Select</label>
    <loops>
        <name>Through_Selected_Templates</name>
        <label>Through Selected Templates</label>
        <locationX>1726</locationX>
        <locationY>631</locationY>
        <collectionReference>select_template_data.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Start_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Doc_Gen</name>
        <label>New Doc Gen</label>
        <locationX>2183</locationX>
        <locationY>604</locationY>
        <connector>
            <targetReference>Child_Sections</targetReference>
        </connector>
        <inputAssignments>
            <field>Parent_Object_Id__c</field>
            <value>
                <elementReference>Inc_RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WSM_Document_Template__c</field>
            <value>
                <elementReference>select_template_data.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WSM_Generated_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>All_document_templates_matching_object</name>
        <label>All document templates matching object</label>
        <locationX>1733</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IncRecordId_sObject_API_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_Prefix__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First3CharOfRecordId_formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Template_Render_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDF Field Filler</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WSM_Document_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Child_Sections</name>
        <label>Child Sections</label>
        <locationX>2183</locationX>
        <locationY>741</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Start_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WSM_Document_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>select_template_data.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WSM_Document_Section__c</object>
        <sortField>Section_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Test_Signature</name>
        <label>Test Signature</label>
        <locationX>2176</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0X8c00000W5LvkEAF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WSM_Signature__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Start</name>
        <label>Copy 1 of Start</label>
        <locationX>1734</locationX>
        <locationY>487</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Through_Selected_Templates</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_dt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;We Summit Mountains&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Document Generator&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Select a document template&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>select_template_data</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>WSM_Document_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>All_document_templates_matching_object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-95ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;WSM Document Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Template_Render_Type__c&quot;,&quot;guid&quot;:&quot;column-56bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Template Render Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Start_0</name>
        <label>Copy 1 of Start</label>
        <locationX>2269</locationX>
        <locationY>901</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_dt_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;We Summit Mountains&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Document Generator&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>docgen_lwc</name>
            <extensionName>c:wsm_docgen_maintool</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>IncDocumentTemplate</name>
                <value>
                    <elementReference>select_template_data.firstSelectedRow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncObjectApiName</name>
                <value>
                    <elementReference>Get_IncRecordId_sObject_API_Name.result</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncRecordId</name>
                <value>
                    <elementReference>Inc_RecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncDocumentTemplateSections</name>
                <value>
                    <elementReference>Child_Sections</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncWSMDocGenRecordId</name>
                <value>
                    <elementReference>New_Doc_Gen</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Start_0_0</name>
        <label>Copy 1 of Start</label>
        <locationX>2260</locationX>
        <locationY>1153</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_dt_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;We Summit Mountains&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Document Generator&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;You can view your document here.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/lightning/r/WSM_Generated_Document__c/{!New_Doc_Gen}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 24px;&quot;&gt;&lt;strong&gt;BLOOP&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Generate Another Document?</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>1527</locationX>
        <locationY>695</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Through_Selected_Templates</targetReference>
        </connector>
        <fields>
            <name>dt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;We Summit Mountains&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Document Generator&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ff2_lwc</name>
            <extensionName>c:wsm_docgen_PDF_Field_Filler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Inc_RecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncDocumentTemplate</name>
                <value>
                    <elementReference>Through_Selected_Templates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoRunMultipleFlowScreens</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>GeneratedDocumentName</name>
                <value>
                    <elementReference>Through_Selected_Templates.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_0</name>
        <label>Start</label>
        <locationX>1727</locationX>
        <locationY>822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;We Summit Mountains&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Document Generator&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;﻿All documents have been generated. Please refresh this page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1611</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>All_document_templates_matching_object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Inc_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
