force-app/main/default/flows/WSM_SCR_WSM_Document_Template_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Found_Content_Document_Link</name>
        <label>Found Content Document Link?</label>
        <locationX>71</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>Upload_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CDL</defaultConnectorLabel>
        <rules>
            <name>Found_Content_Document_Link_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Content_Document_Link.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CDL_on_Record</targetReference>
            </connector>
            <label>Found Content Document Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Content_Document_Link_0</name>
        <label>Found Content Document Link?</label>
        <locationX>525</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>Upload_File_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CDL</defaultConnectorLabel>
        <rules>
            <name>Found_Content_Document_Link_true_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Content_Document_Link_0.ContentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CDL_on_Record_0</targetReference>
            </connector>
            <label>Found Content Document Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_a_PDF_been_extracted_before</name>
        <label>Has a PDF been extracted before?</label>
        <locationX>766</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Upload_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PDF Extraction Found</defaultConnectorLabel>
        <rules>
            <name>PDF_Extraction_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>INC_Document_Template.PDF_Field_Definitions_JSON__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_JSON_Mapping</targetReference>
            </connector>
            <label>PDF Extraction True</label>
        </rules>
    </decisions>
    <decisions>
        <name>WHich_Function_Pressed</name>
        <label>WHich Function Pressed?</label>
        <locationX>1021</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>update_JSON</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save JSON</defaultConnectorLabel>
        <rules>
            <name>Upload_New_File_and_Refresh_JSON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JSON_Editor_lwc.OutNavigateFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>new</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_File</targetReference>
            </connector>
            <label>Upload New File and Refresh JSON</label>
        </rules>
        <rules>
            <name>Upload_New_File_But_Keep_JSON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JSON_Editor_lwc.OutNavigateFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>newkeep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_File_0</targetReference>
            </connector>
            <label>Upload New File But Keep JSON</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WSM - SCR - WSM Document Template Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WSM - SCR - WSM Document Template Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>82</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Document_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Content_Document_Link_0</name>
        <label>Content Document Link</label>
        <locationX>445</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Content_Document_Link_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Document_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CDL_on_Record</name>
        <label>Update CDL on Record</label>
        <locationX>83</locationX>
        <locationY>805</locationY>
        <connector>
            <targetReference>Extract_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Document_Template.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDF_Content_Document_Id__c</field>
            <value>
                <elementReference>Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <object>WSM_Document_Template__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CDL_on_Record_0</name>
        <label>Update CDL on Record</label>
        <locationX>537</locationX>
        <locationY>999</locationY>
        <connector>
            <targetReference>Upload_File_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Document_Template.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDF_Content_Document_Id__c</field>
            <value>
                <elementReference>Content_Document_Link_0.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <object>WSM_Document_Template__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_JSON</name>
        <label>update JSON</label>
        <locationX>1030</locationX>
        <locationY>653</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Document_Template.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDF_Field_Definitions_JSON__c</field>
            <value>
                <elementReference>JSON_Editor_lwc.OutJSON</elementReference>
            </value>
        </inputAssignments>
        <object>WSM_Document_Template__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_JSON</name>
        <label>Update Record with JSON</label>
        <locationX>118</locationX>
        <locationY>1089</locationY>
        <connector>
            <targetReference>Upload_File_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Document_Template.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDF_Field_Definitions_JSON__c</field>
            <value>
                <elementReference>getFields_lwc.OutJSON</elementReference>
            </value>
        </inputAssignments>
        <object>WSM_Document_Template__c</object>
    </recordUpdates>
    <screens>
        <name>Edit_JSON_Mapping</name>
        <label>Edit JSON Mapping</label>
        <locationX>1028</locationX>
        <locationY>286</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WHich_Function_Pressed</targetReference>
        </connector>
        <fields>
            <name>header_dt_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;We Summit Mountains&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;PDF Filler Template creation Guide &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;PDF Field Definition Tool&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>start_dt_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 62, 167); font-size: 18px;&quot;&gt;Fill the Field Definitions Below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Below are all of the fields found extracted from the PDF that was entered into this template. PDFs are hard to extract data from. So below is all of the information that can be extracted. Please figure out which fields go where on the filled PDF (trial and error).  Use the notes to help remember which field is which.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In the Field Value (Or Merge) text, enter a hard-coded value, or a merge field of the same type for that field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>JSON_Editor_lwc</name>
            <extensionName>c:wsm_docgen_JSON_editor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>IncJSON</name>
                <value>
                    <elementReference>INC_Document_Template.PDF_Field_Definitions_JSON__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extract_JSON</name>
        <label>Extract JSON</label>
        <locationX>80</locationX>
        <locationY>962</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Record_with_JSON</targetReference>
        </connector>
        <fields>
            <name>start_dt_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Extracting Fields from PDF&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You may click continue to proceed when the option presents itself below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>getFields_lwc</name>
            <extensionName>c:wsm_docgen_pdf_field_getter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contentDocumentId</name>
                <value>
                    <elementReference>Content_Document_Link.ContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncDocumentTemplate</name>
                <value>
                    <elementReference>INC_Document_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>207</locationX>
        <locationY>412</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <fields>
            <name>header_dt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;We Summit Mountains&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;PDF Filler Template creation Guide &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;PDF Fields Extractor&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>start_dt_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 62, 167);&quot;&gt;Enter the file below that will be the filled by the DocGen tool.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 62, 167);&quot;&gt;Please only upload 1 pdf file. The file encoding must be XDP and not XFA. If the file is XFA, you can convert it with tools available online.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 62, 167);&quot;&gt;Most PDFs are NOT XFA. So if you do not know what this means, ignore this unless something is not working correctly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PDF_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload PDF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>INC_Document_Template.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_File_0</name>
        <label>Upload File</label>
        <locationX>661</locationX>
        <locationY>606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Content_Document_Link_0</targetReference>
        </connector>
        <fields>
            <name>header_dt_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;We Summit Mountains&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;PDF Filler Template creation Guide &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;PDF Fields Extractor&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>start_dt_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 62, 167);&quot;&gt;Enter the file below that will be the filled by the DocGen tool.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 62, 167);&quot;&gt;Please only upload 1 pdf file. The file encoding must be XDP and not XFA. If the file is XFA, you can convert it with tools available online.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 62, 167);&quot;&gt;Most PDFs are NOT XFA. So if you do not know what this means, ignore this unless something is not working correctly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PDF_Upload_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload PDF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>INC_Document_Template.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_File_0_0</name>
        <label>Upload File</label>
        <locationX>115</locationX>
        <locationY>1253</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>start_dt_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Wizard Complete&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please Click Finish to edit the field definition JSON on the template record.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_File_0_0_0</name>
        <label>Upload File</label>
        <locationX>553</locationX>
        <locationY>1251</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>start_dt_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Wizard Complete&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please Click Finish to edit the field definition JSON on the template record.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>645</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_a_PDF_been_extracted_before</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>INC_Document_Template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WSM_Document_Template__c</objectType>
    </variables>
</Flow>
