force-app/main/default/flows/WSM_SCR_DocGen_MergFieldTool.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Load_Working_Template</name>
        <label>Load Working Template</label>
        <locationX>995</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>working_docgen_template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merges</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Function</name>
        <label>Function?</label>
        <locationX>770</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Merges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_On_PDF_Filler_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPDFFieldValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is On PDF Filler Template</label>
        </rules>
        <rules>
            <name>Is_section_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isonsectionpage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template</targetReference>
            </connector>
            <label>Is section</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WSM - SCR - DocGen: MergFieldTool {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WSM - SCR - DocGen: MergFieldTool</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Template</name>
        <label>Template</label>
        <locationX>999</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_Working_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inc_Document_Section.WSM_Document_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WSM_Document_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Merges</name>
        <label>Merges</label>
        <locationX>776</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>merge_lwc</name>
            <extensionName>c:wsm_docgen_mergefield_tool</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>IncDocumentTemplate</name>
                <value>
                    <elementReference>working_docgen_template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>Function</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetPDFFieldValues</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inc_Document_Section</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WSM_Document_Section__c</objectType>
    </variables>
    <variables>
        <name>Isonsectionpage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>working_docgen_template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WSM_Document_Template__c</objectType>
    </variables>
</Flow>
